<form [formGroup]="loginForm" (ngSubmit)="login(submit)" class="max-w-md mx-auto shadow-2xl  space-y-4 p-6  rounded-md my-24">
  <h1 class="text-2xl font-semibold">Register</h1>
  <div class="">
    @let email = loginForm.controls['email'] ;
    <div class="relative">
      <input type="email" id="email" formControlName="email" name="email"
             class="input border-1 peer"
             placeholder=" " [class]="email.errors && email.touched ? '!border-red-600 ' : ''" />
      <label for="email"
             class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-black peer-focus:dark:text-white peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Email</label>
    </div>


    @if (email.errors && email.touched){
      <p class="text-red-600 mt-2 pl-2">{{email.errors['email'] ? 'the Email is invalid' : 'this filed is required' }}</p>
    }
  </div>
  <div class="">
    @let password = loginForm.controls['password'] ;
    <div class="relative">
      <input type="password" id="password" formControlName="password" name="password"
             class="input border-1 peer"
             placeholder=" "
             [class]="password.errors && password.touched ? '!border-red-600 ' : ''"/>
      <label for="password"
             class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-black peer-focus:dark:text-white peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
      >Password</label>

    </div>


    @if (password.errors && password.touched){
      <p class="text-red-600 mt-2 pl-2">{{ password.errors['pattern'] ? 'Password must contain at least eight characters, an uppercase letter, and special characters.' : 'this filed is required' }}</p>
    }

  </div>
  <button #submit type="submit" class="btn group mb-4"><span class="group-disabled:hidden">Login</span> <i class="fa-solid fa-spin fa-loader group-disabled:block hidden"></i></button>
  <div class="inline-flex items-center justify-center w-full">
    <hr class="w-64 h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">
    <span class="absolute px-3 font-medium text-gray-600 -translate-x-1/2 bg-white left-1/2 dark:text-white dark:bg-gray-900">OR</span>
  </div>
  <p class="text-center text-gray-600">Don`t have an account? <a routerLink="/auth/register" class="font-medium text-hover">register</a></p>
  <a routerLink="/auth/forget-password" class="font-semibold text-gray-500  text-lg block text-center text-hover">Forget Password?</a>
</form>
