@if (product && mainImage) {

    <app-sub-header [title]="product.title.split(' ').slice(0,2).join(' ')"/>


  <section class="grid grid-cols-1 md:grid-cols-2 my-16 md:max-w-6xl mx-auto gap-8 sm:px-16 px-4">
    <div class="">
      <figure class="border border-gray-8 p-2 mb-4">
        <img [src]="mainImage" class="w-full h-full " [alt]="product.title">
      </figure>
      <owl-carousel-o [options]="customOptions">
        @for (image of product.images; track $index) {
          <ng-template carouselSlide>
            <button (click)="changeMainImage(image)"
                    class="w-24 border border-gray-8 p-2 relative hover:after:bg-[rgba(0,0,0,0.5)] after:transition-all after:duration-300 after:absolute after:top-0 after:left-0 after:right-0 after:bottom-0 after:z-10">
              <img [src]="image" class="w-full" [alt]="product.title">
            </button>
          </ng-template>
        }
      </owl-carousel-o>

    </div>
    <aside class="content">
      <h3 class="text-2xl font-medium text-hover">{{ product.title }}</h3>
      <div class="flex justify-between mt-4 items-center">
        <p class="text-[26px] font-semibold  text-primary mb-2   ">{{ product.price | currency: 'EGP' }}</p>
        <app-rating [rating]="product.ratingsAverage"/>
      </div>
      <p class="text-gray-500">
        {{ product.description }}
      </p>
      <div class=" border-t border-b p-4 my-4 border-gray-300 flex flex-row gap-5">
        <button #loadBtn (click)="addProductToCart(product.id , loadBtn)"
                class="text-white p-4 rounded-lg hover:bg-red-500 transition-all duration-300 bg-primary group"><span
          class="group-disabled:hidden"><i class="fa-light fa-cart-shopping"></i> Add To Cart</span><i
          class="fa-solid fa-spinner-scale fa-spin hidden group-disabled:block"></i></button>
        <button #loadWishBtn (click)="wishListProducts ? '' :addProductToWishList(product.id , loadWishBtn)"
                [ngClass]="{'hover:!bg-white hover:!text-black !bg-primary text-white':wishListProducts}"
                class="bg-white shadow-lg group/wishList w-fit py-1.5 px-4 text-xl rounded-full hover:bg-primary hover:text-white transition-all duration-300"
        >
          <i class="fa-light fa-heart group-disabled/wishList:hidden"></i>
          <i class="fa-solid fa-spinner-scale fa-spin group-disabled/wishList:block hidden "></i>
        </button>
      </div>
      <ul class="space-y-2 ">
        <li><span class="text-gray-500">Brand: </span> <span class="text-hover">{{ product.brand.name }}</span></li>
        <li><span class="text-gray-500">Category: </span> <span class="text-hover">{{ product.category.name }}</span>
        </li>
        <li><span class="text-gray-500">Tag: </span> <span class="text-hover">{{ product.subcategory[0].name }}</span>
        </li>

      </ul>
    </aside>
  </section>

  <div class="md:px-20 px-6">
    <h2 class="text-xl font-medium">Related Products</h2>
    <app-products-for-loop [products]="products"/>

  </div>

} @else {
    <app-sub-header [title]="product.title.split(' ').slice(0,2).join(' ')"/>

  <app-loading/>
}

