

<footer class="bg-gray-200">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-8 px-12 ">

    <hr class="mb-4 border-gray-300 sm:mx-auto dark:border-gray-700 " />

    <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm text-gray-700 sm:text-center dark:text-gray-400">© 2025 <a href="https://github.com/mhammed2008" class="hover:underline">mohammedAbdullah™</a>. All Rights Reserved.
          </span>
      <div class="flex mt-4 gap-4 sm:mt-0">
        <div class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
          <img src="images/visa.png">
          <span class="sr-only">visa way to pay</span>
        </div>
        <div class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
          <img src="images/master_card.png">
          <span class="sr-only">master card way to pay</span>
        </div>
        <div class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
          <img src="images/paypal.png">
          <span class="sr-only">paypal way to pay</span>
        </div>

      </div>
    </div>
  </div>
</footer>
