<form [formGroup]="searchForm"  class=" max-w-md mx-auto mt-4 flex flex-row px-4" (ngSubmit)="searchFilter()">
    <div class="relative w-full">
      <input type="search" id="search" #search (input)="searchFilter()" formControlName="search" name="search"
             class="input border-1 peer rounded-tr-none rounded-br-none"
             placeholder="search" />
      <label for="search"
             class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-black peer-focus:dark:text-white peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Search</label>
    </div>
  <button type="submit" class="btn w-12 rounded-bl-none rounded-tl-none"><i class="fa-light fa-magnifying-glass"></i></button>
</form>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 my-12 gap-8 px-8">
  @if (products === [] || products){
    @if (products.length > 0 ){
      @for (product of products; track product.id) {
        <app-product-card
          [productIsInsideWishList]="wishListProductsId.includes(product.id)"
          [product]="product" (fireAddToCart)="addToCart($event)"
          (fireAddToWishList)="addProductToWishList($event)"
          (load)="loading($event)"
          (showDialog)="Dialog($event)"
        />
      }

      <app-product-dialog [show]="showDialog" [productId]="productIdForDialog" (closeDialog)="closeDialog($event)" />
    } @else {
      <div class="grid col-span-full">
        <h3 class="text-3xl text-center">No product Found</h3>
      </div>
    }
  } @else {
    <app-loading-product/>
    <app-loading-product/>
    <app-loading-product/>
    <app-loading-product/>
    <app-loading-product/>
    <app-loading-product/>
    <app-loading-product/>
    <app-loading-product/>
    <app-loading-product/>
    <app-loading-product/>
  }

</div>
