
<section class="categories mt-20 text-center  xl:ml-16 ">
  <h2 class="text-4xl font-bold mb-8 ">Categories</h2>

  <owl-carousel-o [options]="customOptions">
    @if (categories){
      @for ( category of categories ; track $index) {
        <ng-template carouselSlide>
          <div class="category-card text-center w-fit p-4 group">
            <figure class="w-32 h-32 rounded-full group-hover:shadow-lg group-hover:scale-110 shadow-md transition-all duration-300">
              <a [routerLink]="['/categories']">
                <img [src]="category.image" class="rounded-full w-full h-full object-cover " alt="music category">
              </a>
            </figure>
            <a [routerLink]="['/categories']" class="text-lg group-hover:text-primary mt-3 transition-all duration-300">{{category.name}}</a>
          </div>
        </ng-template>
      }
    } @else {
      <ng-template carouselSlide>
        <app-category-slider-load/>
      </ng-template>
      <ng-template carouselSlide>
        <app-category-slider-load/>
      </ng-template>
      <ng-template carouselSlide>
        <app-category-slider-load/>
      </ng-template>
      <ng-template carouselSlide>
        <app-category-slider-load/>
      </ng-template>
      <ng-template carouselSlide>
        <app-category-slider-load/>
      </ng-template>
      <ng-template carouselSlide>
        <app-category-slider-load/>
      </ng-template>
      <ng-template carouselSlide>
        <app-category-slider-load/>
      </ng-template>
      <ng-template carouselSlide>
        <app-category-slider-load/>
      </ng-template>
    }

  </owl-carousel-o>
</section>
