<ol class="flex items-center max-w-lg mx-auto my-4 p-3 space-x-2 text-sm font-medium text-center text-gray-500 bg-white border border-gray-200 rounded-lg shadow-xs dark:text-gray-400 sm:text-base dark:bg-gray-800 dark:border-gray-700 sm:p-4 sm:space-x-4 rtl:space-x-reverse">
  <li class="flex items-center text-primary dark:text-primary text-sm">
    <span class="flex items-center justify-center w-5 h-5 me-2 text-xs border border-primary rounded-full shrink-0 dark:border-primary">1</span>
    Send Code
    <svg class="w-3 h-3 ms-2 sm:ms-4 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 10"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m7 9 4-4-4-4M1 9l4-4-4-4"/></svg>
  </li>
  <li class="flex items-center"
    [ngClass]="{'text-primary dark:text-primary text-sm':step2VerifyResetCodeShow ||  step3UpdatePasswordShow}">
    <span class="flex items-center justify-center w-5 h-5 me-2 text-xs border border-gray-500 rounded-full shrink-0 dark:border-gray-400" [ngClass]="{'!border-primary !dark:border-primary':step2VerifyResetCodeShow ||  step3UpdatePasswordShow}">2</span>
    Verify Code
    <svg class="w-3 h-3 ms-2 sm:ms-4 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 10"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m7 9 4-4-4-4M1 9l4-4-4-4"/></svg>
  </li>
  <li class="flex items-center" [ngClass]="{'text-primary dark:text-primary text-sm': step3UpdatePasswordShow}">
    <span class="flex items-center justify-center w-5 h-5 me-2 text-xs border border-gray-500 rounded-full shrink-0 dark:border-gray-400" [ngClass]="{'!border-primary !dark:border-primary': step3UpdatePasswordShow}">3</span>
    Update Password
  </li>
</ol>
@if (step1ForgetPasswordShow){
  <form [formGroup]="step1ForgetPasswordForm" (ngSubmit)="step1ForgetPassword(step1submitBtn)" class="max-w-lg my-12 mx-auto shadow-2xl  space-y-4 p-6 rounded-md ">
    <h1 class="text-2xl font-semibold">Forget Password</h1>
    <p class="text-gray-500 p-0 mb-4">Please enter your email to send the verification code</p>
    <div class="">
      @let email = step1ForgetPasswordForm.controls['email'] ;
      <div class="relative">
        <input type="email" id="email" formControlName="email" name="email"
               class="input border-1 peer"
               placeholder=" " [class]="email.errors && email.touched ? '!border-red-600 ' : ''" />
        <label for="email"
               class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-black peer-focus:dark:text-white peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Email</label>
      </div>
      @if (email.errors && email.touched){
        <p class="text-red-600 mt-2 pl-2">{{email.errors['email'] ? 'the Email is invalid' : 'this filed is required' }}</p>
      }
    </div>
    <button #step1submitBtn type="submit" class="btn group mb-4"><span class="group-disabled:hidden">Send</span> <i class="fa-solid fa-spin fa-loader group-disabled:block hidden"></i></button>
  </form>
} @else if (step2VerifyResetCodeShow) {
  <form [formGroup]="step2VerifyResetCodeForm" (ngSubmit)="step2VerifyResetCode(step2submitBtn)" class="max-w-lg my-12 mx-auto shadow-2xl  space-y-4 p-6 rounded-md ">
    <h1 class="text-2xl font-semibold">Verify Code</h1>
    <p class="text-gray-500 p-0 mb-4">Please Check your email and enter the code</p>
    <div class="">
      @let resetCode = step2VerifyResetCodeForm.controls['resetCode'] ;
      <div class="relative">
        <input type="number" id="resetCode" formControlName="resetCode" name="resetCode"
               class="input border-1 peer"
               placeholder=" " [class]="resetCode.errors && resetCode.touched ? '!border-red-600 ' : ''" />
        <label for="resetCode"
               class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-black peer-focus:dark:text-white peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Reset Code</label>
      </div>
      @if (resetCode.errors && resetCode.touched){
        <p class="text-red-600 mt-2 pl-2">{{resetCode.errors['pattern'] ? 'the reset Code is invalid' : 'this filed is required' }}</p>
      }
    </div>
    <button #step2submitBtn type="submit" class="btn group mb-4"><span class="group-disabled:hidden">Verify Code</span> <i class="fa-solid fa-spin fa-loader group-disabled:block hidden"></i></button>
  </form>
} @else if (step3UpdatePasswordShow){
  <form [formGroup]="step3UpdatePasswordForm" (ngSubmit)="step3UpdatePassword(step3submitBtn)" class="max-w-lg my-12 mx-auto shadow-2xl  space-y-4 p-6 rounded-md ">
    <h1 class="text-2xl font-semibold">Update Password</h1>
    <p class="text-gray-500 p-0 mb-4">Last step enter your email and your New Password and you will be ready to go</p>
    <div class="">
      @let email = step3UpdatePasswordForm.controls['email'] ;
      <div class="relative">
        <input type="email" id="email1" formControlName="email" name="email"
               class="input border-1 peer"
               placeholder=" " [class]="email.errors && email.touched ? '!border-red-600 ' : ''" />
        <label for="email1"
               class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-black peer-focus:dark:text-white peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Email</label>
      </div>
      @if (email.errors && email.touched){
        <p class="text-red-600 mt-2 pl-2">{{email.errors['email'] ? 'the Email is invalid' : 'this filed is required' }}</p>
      }
    </div>
    <div class="">
      @let password = step3UpdatePasswordForm.controls['newPassword'] ;
      <div class="relative">
        <input type="password" id="password" formControlName="newPassword" name="newPassword"
               class="input border-1 peer"
               placeholder=" "
               [class]="password.errors && password.touched ? '!border-red-600 ' : ''"/>
        <label for="password"
               class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-black peer-focus:dark:text-white peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
        >New Password</label>

      </div>
      @if (password.errors && password.touched){
        <p class="text-red-600 mt-2 pl-2">{{ password.errors['pattern'] ? 'Password must contain at least eight characters, an uppercase letter, and special characters.' : 'this filed is required' }}</p>
      }
    </div>
    <button #step3submitBtn type="submit" class="btn group mb-4"><span class="group-disabled:hidden">Update</span> <i class="fa-solid fa-spin fa-loader group-disabled:block hidden"></i></button>
  </form>
}
