<app-sub-header title="Wish List"/>

@if (products) {
  @if (products.length) {
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 my-12 gap-8 px-8">

      @for (product of products; track product.id) {
        <app-product-card
          [productIsInsideWishList]="true"
          [product]="product"
          (fireAddToCart)="addToCart($event)"
          (removeFromWishList)="removeFromWishList($event)"
          (load)="loading($event)"
          [xMerck]="true"
          (showDialog)="Dialog($event)"
        />
      }
      <app-product-dialog [productId]="productIdForDialog" [show]="showDialog" (closeDialog)="closeDialog($event)"/>

    </div>
  } @else {
    <div class="max-w-3/4 text-center my-24">
      <div class="py-6 px-7 border text-2xl font-bold border-primary rounded-full w-fit mx-auto text-primary">
        <i class="fa-light fa-heart"></i>
      </div>
      <div class="mt-6">
        <h1 class="text-4xl font-semibold">YOUR WISH LIST IS CURRENTLY EMPTY!</h1>
        <a routerLink="/home"
           class="bg-[#30a7ab] px-4 py-3 rounded-2xl block w-fit mx-auto my-8 text-white text-lg font-bold tracking-wider">Start
          ShopIng</a>
      </div>
    </div>
  }
} @else {
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 my-12 gap-8 px-8">

    <app-loading-product/>
    <app-loading-product/>
    <app-loading-product/>
    <app-loading-product/>
    <app-loading-product/>
    <app-loading-product/>
    <app-loading-product/>
    <app-loading-product/>
    <app-loading-product/>
    <app-loading-product/>
  </div>
}
